<body>
    <h1>Tutaj powstaje froncik do SBD</h1>
    
<nav>
    <ul>
        <li>
            <a routerLink="/first-project" routerLinkActive="active">First Project</a>
        </li>
        <li>
            <a routerLink="/second-project" routerLinkActive="active">Second Project</a>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active">Main Page</a>
        </li>
    </ul>
</nav>

Here is some default ass looking page

<router-outlet></router-outlet>
<footer>Dupsko</footer>
</body>