<div class="container">

  <p>Add record</p>

  <div class="form__group field">
      <input #box type="input" class="form__field" placeholder="Name" name="name" id='name' 
      required (keyup.enter)="onEnter(box.value)"/>

      <label for="name" class="form__label">Record</label>
  </div>

<p *ngIf="recordAdded">{{ name }} added!</p>

<p *ngIf="emptyRecordWarning">{{ recordMessageWarning }}</p>

<p>Generate Records</p>

<button class="btn btn-primary btn-sm">Generate Records</button>

</div>

<p>Initial Records:</p>

<p>Tapes: </p>

<button class="btn btn-primary btn-sm">Sort all</button>

<button class="btn btn-secondary btn-sm">Next step</button>